@model ChooseRestaurant.Models.Resto
@{
    ViewBag.Title = "CreateRestaurant";
    ViewBag.Name = "Resto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Restaurant</title>
    <link type="text/css" href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<!--    <script type="text/javascript">
        jQuery.validator.addMethod("verifcontact",
        function (value, element, params) {
            var tel = $("#" + params.parametre1).val();
            var email = $("#" + params.parametre2).val();
            return tel != '' || email != '';
        });

        jQuery.validator.unobtrusive.adapters.add
            ("verifcontact", ["parametre1", "parametre2"], function (options) {
                options.rules["verifcontact"] = options.params;
                options.messages["verifcontact"] = options.message;
        });
    </script>-->
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Add a restaurant</legend>
            <div>
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div>
                @Html.LabelFor(model => model.Phone)
                @Html.TextBoxFor(model => model.Phone/*, new { data_val_verifcontact = "Vous devez saisir au moins un moyen de contacter le restaurant", data_val_verifcontact_parametre1 = "Phone", data_val_verifcontact_parametre2 = "Email" }*/)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <br />
            <input type="submit" value="Add" />
        </fieldset>
    }
</body>
</html>
